{% extends "base.html" %}

{% block head %}
<!-- Dynamic Feed Control and Stylesheet -->
    <script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
            type="text/javascript"></script>
    <style type="text/css">
      @import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");
    </style>
{% endblock %}
{% block header %}
<div class="row-fluid">
	<div class="span10 offset1">
		<header class="masthead">
			<p>
				<br>
				<a class="site-logo" href="/" title="{{ config.BLOG_NAME }}" >
				<img src="/static/logo.png" width="250" alt="{{ config.BLOG_NAME }}">
				</a>
				<br>
				{{ config.BLOG_MOTTO }}	
			</p>
		</header>
	</div>
</div>
{% endblock header %}

{% block content %}
    {% with pages=pages  %}
        {% include "_list.html" %}
    {% endwith %}
	
{% endblock content %}

{% block sidebar %}
	<div class="span2">
	{{ macros.twitter_widget(config) }}	
	
	{{ macros.figshare(config) }}
	</div>
{% endblock sidebar %}		