{% extends "base.html" %}

{% block head %}
<!-- Dynamic Feed Control and Stylesheet -->
    <script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
            type="text/javascript"></script>
    <style type="text/css">
      @import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");
    </style>
{% endblock %}
{% block header %}
<div class="row-fluid">
	<div class="span10 offset1">
		<header class="masthead">
			<p>
				<br>
				<a class="site-logo" href="/" title="{{ config.BLOG_NAME }}" >
				<img src="/static/logo.png" width="250" alt="{{ config.BLOG_NAME }}">
				</a>
				<br>
				{{ config.BLOG_MOTTO }}	
			</p>
		</header>
	</div>
</div>
{% endblock header %}

{% block content %}
    {% with pages=pages  %}
    	<h2>Posts</h2>
        	{% include "_list.html" %}
        <h2>Papers</h2>
        <div id="papers" class="posts">
        </div>
        <script type="text/javascript">
        DOI_BASE_URL = 'http://dx.doi.org/';
        var ORCID_URL = "http://pub.orcid.org/{{ config.ORCID }}/orcid-works?callback=?";
        var ORCID_HTML = '<h3><a href="{0}" target="_blank">{1}		  ';
        ORCID_HTML+= '<small>{2}, {3}</small>';
        ORCID_HTML += '</a></h3>';

        function process_orcid_result(data) {
        	// get list of works from the ORCID result
        	var data = data['orcid-profile']['orcid-activities']['orcid-works']['orcid-work'];
        	// iterate list of results
        	$.each(data, function(i,record) {
	        	var title = record['work-title']['title']['value'];
	        	var journal = record['work-title']['subtitle']['value'];
	        	var url = '';
	        	var doi = '';
	        	$.each(record['work-external-identifiers']['work-external-identifier'], function(i,v) {
	        		alert(v['work-external-identifier-id']['value']);
			       if (v['work-external-identifier-type'] == 'DOI') {
			            doi = v['work-external-identifier-id']['value'];
			            url = DOI_BASE_URL + doi;
				}
			});
			year = record['publication-date']['year']['value'];
			$('#papers').append(ORCID_HTML.format(url, title, journal, year));
		})
        }
        $(function() {
        	$.getJSON(ORCID_URL).done(process_orcid_result);
        })
        </script>
    {% endwith %}
	
{% endblock content %}

{% block sidebar %}
	<div class="span2">
	{{ macros.twitter_widget(config) }}	
	
	{{ macros.figshare(config) }}
	</div>
{% endblock sidebar %}		