{% extends "base.html" %}

{% block header %}
<div class="row-fluid">
	<div class="span10 offset1">
		<header class="masthead">
			<p>
				<br>
				<a class="site-logo" href="/" title="{{ config.BLOG_NAME }}" >
				<img src="/static/logo.png" width="250" alt="{{ config.BLOG_NAME }}">
				</a>
				<br>
				{{ config.BLOG_MOTTO }}	
			</p>
		</header>
	</div>
</div>
{% endblock header %}

{% block content %}
    {% with pages=pages  %}
        {% include "_list.html" %}
    {% endwith %}
	
{% endblock content %}

{% block sidebar %}

	{{ macros.pubmed(config) }}
	

{% endblock sidebar %}		