{% extends "base.html" %}
{% block title %} {{ page.title }} {% endblock title %}

{% block head %}

{% if page.math %}
{{ macros.mathjax() }}
{% endif %}

{{ macros.sharethis_js('{{ config.SHARETHIS_PUBLISHER }}') }}

{% endblock head %}

{% block header %}
<div class="row-fluid">
	<div class="span8 offset1">
	<header class="masthead">
	{{ macros.pagination(prev_page(page), next_page(page)) }}
	{{ macros.back_and_top(False) }}
	<h1>{{ page.title }}</h1>
	{{ macros.pagebar(config, page) }}
	</header>
	</div>
</div>
{% endblock %}

{% block content %}

<div class="post">
	
    {{ page.html|safe }}
	<a href="#" id="download_bibtex_btn">Download BibTeX</a>
	<script type="text/javascript">
	$(function() {
		$('#download_bibtex_btn').click(function() {
			var content = $('#bib').html();
			var w = window.open();
			$(w.document.body).text(content);
			w.document.title = '{{ page.title }}' + '.bib';
			w.document.contentType = 'text/x-bibtex';
		});
	})
	</script>
	<a name="bottom"></a>
	
	{{ macros.pagination(prev_page(page), next_page(page)) }}
	{{ macros.back_and_top() }}
	
</div>
<div id="bib" style="display: none">
	
{{ page.bib|safe }}

</div>

{{ macros.comments(config, page) }}

{% endblock content %}

{% block sidebar %}
	{% if page.cite %}
	{{ macros.citation(config, page) }}
	{% endif %}
{% endblock sidebar %}